Exercises
Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- do I need to reword the question?
- what are the variables?
- what type are the variables?
- formulate null hypothesis
- formulate alt hypothesis
- example of True Positive
- Example of True Negative
- example of Type 1 error (False Positive)
- example of Type 2 error (False Negative)
- what type of tests should I run?

### 1. Has the network latency gone up since we switched internet service providers?
##### do I need to reword the question?
- Has there been a statistically significant increase in network latency since we switched ISPs?
##### what are the variables?
- old_isp
- new_isp
- network_latency
##### what type are the variables?
- old_isp = categorical/discrete
- new_isp = categorical/discrete
- network_latency = numerical/continuous
##### formulate null hypothesis
- H0 = no stat significant change in network latency since we switched ISPs
##### formulate alt hypothesis
- Ha = there has been a significant increase in network latency since we switched ISPs
##### formulate alt hypothesis
- Ha = there has been a significant change in network latency since we switched ISPs
##### example of True Positive
- H0 = False
- There is a significant change in network latency after switching
##### Example of True Negative
- H0 = True
- There is no significant change in network latency after switching
##### example of Type 1 error (False Positive)
- H0 = True, but we get data that says H0 = False
- we say there is significant change, when in reality there is not
##### example of Type 2 error (False Negative)
- H0 = False, but we get data that says H0 = True
- we say there is no significant change, when in reality there is
##### what type of test(s) would I run?

### 2. Is the website redesign any good?
##### do I need to reword the question?
- how do we quantify changes to website redesign?
- Is there a statistically significant increase in time spent on website after redesign?
##### what are the variables?
- old_website = categorical / discrete
- new_website = categorical / discrete
- time_onsite = numerical / continuous
##### what type are the variables?
##### formulate null hypothesis
- H0 = there is no significant change in time on_site after website redesign
##### formulate alt hypothesis
- Ha = there is a significant increase in time on_site after website redesign
##### example of True Positive
- H0 = False
- There is a significant increase in time_onsite
##### Example of True Negative
- H0 = True
- There is no significant change in time_onsite after redesign
##### example of Type 1 error (False Positive)
- H0 = True, but our data says H0 = False
- There is no significant change in time_onsite, but our data suggests that there is significant change
##### example of Type 2 error (False Negative)
- H0 = False, but our data says H0 = True
- There is a significant change in time_onsite, but our data suggests no significant change
##### what type of test(s) would I run?

### 3. Is our television ad driving more sales?
##### do I need to reword the question?
- Has our tv ad led to a statistically significant increase in sales revenue? (measuring in avg weekly revenue?)
##### what are the variables?
- pre_ad
- post_ad
- weekly_ad_rev
##### what type are the variables?
- pre_ad = categorical / discrete
- post_ad = categorical / discrete
- weekly_ad_rev = numerical / continuous
##### formulate null hypothesis
- H0 = there is no significant change in weekly revenue after new tv ad
##### formulate alt hypothesis
- H1 = there has been a statistically significant increase in weekly revenue after new sales ad
- H2 = there has been a statistically significant decrease in weekly revenue after new tv ad
##### example of True Positive
- H0 = False
- There is a statistically significant change in weekly revenue after the new tv ad
##### Example of True Negative
- H0 = True
- There is no statistically significant change in weekly revenue after the new tv ad
##### example of Type 1 error (False Positive)
- H0 = True, but our data suggests H0 = False
- There is no change, but our data suggests that there is
##### example of Type 2 error (False Negative)
- H0 = False, but our data suggests H0 = True
- There is significant change, but our data suggests no change
##### what type of test(s) would I run?

# T-Test Time

Exercises
Continue working in your hypothesis_testing notebook.

In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

- do I need to reword the question?
    - Is there a statistically significent difference in sales time between office1 and office2?
- what are the variables?
- what type are the variables?
    - office1 = categorical / discrete
    - office2 = categorical / discrete
    - time_to_sell = numerical / continuous
- formulate null hypothesis
    - $H_{0}$: There is no difference in sales time between office1 and office2.
- formulate alt hypothesis
    - $H_{a}$: There is a statistically significant difference in sales time between office1 and office2.
- example of True Positive
    - $H_{0}$: False, so we reject $H_{0}$, There is a statistically significant difference in sales time between office1 and office2, and our data backs that up.
- Example of True Negative
    - $H_{0}$: True, so we accept $H_{0}$, There is no difference in sales time, and our data backs this up.
- example of Type 1 error (False Positive)
    - $H_{0}$: True, (There is no difference) but our data suggests it is False (We see a difference), so we incorrectly reject $H_{0}$
- example of Type 2 error (False Negative)
    - $H_{0}$: False, (There is a differnce) but our data suggests it is True (There is no difference), so we incorrectly accept the $H_{0}$
- what type of tests should I run?

1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [2]:
# office1 variables
mean1 = 90
std1 = 15
ct1 = 40
# office2 variables
mean2 = 100
std2 = 20
ct2 = 50
# others
alpha = 0.05
# check variance
office1 = stats.norm(mean1, std1)
office2 = stats.norm(mean2, std2)
office1.var(), office2.var()

(225.0, 400.0)

In [3]:
t, p = stats.ttest_ind_from_stats(mean1, std1, ct1, mean2, std2, ct2, equal_var = False)

t, p, alpha

(-2.7091418459143854, 0.00811206270346016, 0.05)

In [4]:
# What does it mean???
# Office1 sells on average 2.7 days faster (less) than office2
# the p value < alpha, so we know this is not by chance

# This is an example of True Positive

$H_{0}$: False (There is a difference), and our data backs up the fact that there is a difference in sales time

2. Load the mpg dataset and use it to answer the following questions:

In [5]:
mpg_df = data('mpg')
mpg_df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
# Creating Column for average mileage
mpg_df["average_mileage"] = (mpg_df.hwy + mpg_df.cty) / 2

In [7]:
df_1999 = mpg_df[mpg_df['year'] == 1999]
df_1999

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,20.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,21.0
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,19.5
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,15.0
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,21.0
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,19.0
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,13.0
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,15.5
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,23.0
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,21.0
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,20.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,19.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,18.0
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,15.0
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,15.5
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,14.0
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,15.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,13.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,13.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,13.5
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,13.0
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,14.0
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,17.0
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,15.5
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,15.5
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,14.5
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,14.5
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,13.0
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,22.0
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,21.5
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,18.0
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,18.5
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,30.5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,28.0
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,28.5
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,26.0
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,28.0
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,22.0
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,22.5
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,22.0
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize,22.0
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,22.5
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,24.0
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,17.5
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,15.5
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,13.0
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,13.0
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,13.5
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,25.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,23.0
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,22.0
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize,22.0
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,15.5
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,16.0
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,21.0
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,22.0
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,21.5
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,21.0
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,23.5
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,22.5
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,22.5
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,22.5
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,17.5
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,18.0
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,17.0
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,16.0
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,25.0
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,24.0
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,22.0
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,22.0
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,24.0
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,25.0
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,22.0
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,22.0
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,28.5
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,30.5
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,13.0
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,17.5
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,18.0
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,16.0
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,17.0
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,25.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,22.5
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,20.5
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,38.5
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,25.0
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,22.5
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,19.5
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,20.5
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,39.5
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,35.0
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,25.0
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,22.5
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,25.0
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,23.5
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0

In [8]:
cars_1999 = mpg_df['average_mileage'][mpg_df['year']==1999]
cars_1999.head()

1    23.5
2    25.0
5    21.0
6    22.0
8    22.0
Name: average_mileage, dtype: float64

In [9]:
std_1999 = mpg_df['average_mileage'][mpg_df['year']==1999].std()
std_1999

5.207936766511732

In [10]:
cars_2008 = mpg_df['average_mileage'][mpg_df['year']==2008]
cars_2008.head()

3     25.5
4     25.5
7     22.5
10    24.0
11    23.0
Name: average_mileage, dtype: float64

In [11]:
std_2008 = mpg_df['average_mileage'][mpg_df['year']==2008].std()
std_2008

4.90891842528482

In [12]:
t, p = stats.ttest_ind(cars_2008, cars_1999, equal_var = False)
t, p , alpha

(-0.21960177245940962, 0.8263750772060638, 0.05)

2a. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

- do I need to reword the question?
    - Has there been a statistically significant increase in fuel-efficiency in cars from 1999 to 2008?
- what are the variables?
- what type are the variables?
    - cars1999 = categorical / discrete
    - cars2008 = categorical / discrete
    - mpg = numerical / continuous
- formulate null hypothesis
    - $H_{0}$: There has been no change in fuel efficiency from 1999 to 2008
- formulate alt hypothesis
    - $H{0}$: There has been a statistically significant increase in fuel-efficiency in cars from 1999 to 2008
- example of True Positive
    - $H{0}$: False, (There has been a change,) we reject the $H{0}$, and our data backs that up
- Example of True Negative
    - $H{0}$: True, (There has been no change,) we accept the $H{0}$, and our data backs that up
- example of Type 1 error (False Positive)
    - $H{0}$: True, (There has been no change,) we incorrectly reject the $H{0}$,  because our data suggests change
- example of Type 2 error (False Negative)
    - $H{0}$: False, (There has been a change,) we incorrectly accept the $H{0}$, because our data suggests no change
- what type of tests should I run?

In [13]:
types_1999 = mpg_df[mpg_df['year']==1999]
types_1999

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,20.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,21.0
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,19.5
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,15.0
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,21.0
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,19.0
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,13.0
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,15.5
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,23.0
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,21.0
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,20.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,19.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,18.0
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,15.0
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,15.5
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,14.0
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,15.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,13.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,13.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,13.5
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,13.0
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,14.0
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,17.0
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,15.5
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,15.5
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,14.5
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,14.5
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,13.0
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,22.0
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,21.5
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,18.0
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,18.5
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,30.5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,28.0
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,28.5
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,26.0
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,28.0
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,22.0
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,22.5
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,22.0
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize,22.0
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,22.5
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,24.0
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,17.5
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,15.5
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,13.0
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,13.0
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,13.5
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,15.5
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,25.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,23.0
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,22.0
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize,22.0
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,15.5
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,16.0
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,21.0
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,22.0
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,21.5
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,21.0
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,23.5
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,22.5
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,22.5
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,22.5
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,17.5
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,18.0
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,17.0
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,16.0
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,25.0
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,24.0
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,22.0
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,22.0
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,24.0
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,25.0
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,22.0
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,22.0
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,28.5
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,30.5
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,13.0
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,17.5
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,18.0
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,16.0
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,17.0
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,25.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,22.5
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,20.5
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,38.5
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,25.0
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,22.5
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,19.5
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,20.5
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,39.5
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,35.0
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,25.0
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,22.5
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,25.0
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,23.5
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0

In [14]:
# what does it all mean?
# inconclusive test results
# very high p-value
# why??
#     different classes of cars being compared?
#     different fuel types?
#     need to dive into the charts, to determine what we are actually comparing
#     this is a biased study, and needs to be reworked

2b. Are compact cars more fuel-efficient than the average car?

- do I need to reword the question?
- what are the variables?
- what type are the variables?
- formulate null hypothesis
- formulate alt hypothesis
- example of True Positive
- Example of True Negative
- example of Type 1 error (False Positive)
- example of Type 2 error (False Negative)
- what type of tests should I run?
    -1 sample ttest, 1 tail

In [15]:
compact = mpg_df['average_mileage'][mpg_df['class']=='compact']
compact.head()

1    23.5
2    25.0
3    25.5
4    25.5
5    21.0
Name: average_mileage, dtype: float64

In [16]:
all_mpg = mpg_df['average_mileage'].mean()
all_mpg

20.14957264957265

In [17]:
t, p = stats.ttest_1samp(compact, all_mpg)
t, p/2, alpha

(7.896888573132535, 2.0992818971585668e-10, 0.05)

In [18]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

In [19]:
# what does it mean???
# this is a true positive
#

2c. Do manual cars get better gas mileage than automatic cars?

- do I need to reword the question?
- what are the variables?
- what type are the variables?
- formulate null hypothesis
- formulate alt hypothesis
- example of True Positive
- Example of True Negative
- example of Type 1 error (False Positive)
- example of Type 2 error (False Negative)
- what type of tests should I run?
    - 2 sample, 1 tail

In [20]:
manuals = mpg_df[mpg_df.trans.str.contains('manual')]
manuals.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0

In [21]:
manuals_mpg = manuals['average_mileage']
manuals_mpg.head()

2     25.0
3     25.5
6     22.0
8     22.0
10    24.0
Name: average_mileage, dtype: float64

In [22]:
automatics = mpg_df[mpg_df.trans.str.contains('auto')]
automatics.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5

In [23]:
automatics_mpg = automatics['average_mileage']
automatics_mpg.head()

1    23.5
4    25.5
5    21.0
7    22.5
9    20.5
Name: average_mileage, dtype: float64

In [24]:
t, p = stats.ttest_ind(manuals_mpg, automatics_mpg, equal_var = False)

t, p/2, alpha

(4.443514012903071, 8.976124499958965e-06, 0.05)

In [25]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

Exercises
Continue working in your hypothesis_testing notebook.

1. Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? What happens if you control for phone and internet service?

In [26]:
# load our data
telco_df = pd.read_csv('Cust_Churn_Telco.csv')
telco_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [27]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

- do I need to reword the question?
    - Q1: Does tenure correlate with monthly charges?
    - Q2: Does tenure correlate with total charges?
    - Q3: What if we control for phone and internet service?
- what are the variables?
    - tenure
    - charges (monthly / total)
- what type are the variables?
    - tenure: numerical / continuous
    - charges: numerical / continuous
- formulate null hypothesis
    - $H_{0}$: There is no correlation between tenure and charges
- formulate alt hypothesis
    - $H_{0}$: There is a correlation between tenure and charges
- example of True Positive
    - $H_{0}$: False, our data backs that up, and we Reject the $H_{0}$
- Example of True Negative
- example of Type 1 error (False Positive)
- example of Type 2 error (False Negative)
- what type of tests should I run?

In [33]:
telco_df['TotalCharges'] = pd.to_numeric(telco_df['TotalCharges'], errors='coerce')
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [34]:
telco_df = telco_df.dropna()
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [35]:
x_ten = telco_df['tenure']
y_monthly = telco_df['MonthlyCharges']
alpha = 0.05

In [36]:
r, p = stats.pearsonr(x_ten, y_monthly)
r, p

(0.2468617666408957, 3.9898213232510553e-98)

In [37]:
# there is a weak positive correlation between tenure and monthly charges

In [38]:
x_ten = telco_df['tenure']
y_total = telco_df['TotalCharges']
alpha = 0.05

In [40]:
r, p = stats.pearsonr(x_ten, y_total)
r, p

(0.8258804609332093, 0.0)

In [41]:
# this shows a relatively strong positive correlation between tenure and total charges
# did we mess up?? - p value = 0, not close to zero

In [48]:
# now let's look at adding some controls...
x_phone = telco_df['tenure'][telco_df['PhoneService']== 'Yes']
x_phone.head()

1    34
2     2
4     2
5     8
6    22
Name: tenure, dtype: int64

In [50]:
y_monthly = telco_df['MonthlyCharges'][telco_df['PhoneService']=='Yes']
y_monthly.head()

1    56.95
2    53.85
4    70.70
5    99.65
6    89.10
Name: MonthlyCharges, dtype: float64

In [52]:
y_total = telco_df['TotalCharges'][telco_df['PhoneService']=='Yes']
y_total.head()

1    1889.50
2     108.15
4     151.65
5     820.50
6    1949.40
Name: TotalCharges, dtype: float64

In [51]:
# phone service vs monthly

r, p = stats.pearsonr(x_phone, y_monthly)
r, p

(0.24419396575193372, 6.828016037598485e-87)

In [53]:
# phone service vs total charges

r, p = stats.pearsonr(x_phone, y_total)
r, p

(0.8298393210699477, 0.0)

In [57]:
x_depend = telco_df['tenure'][telco_df['Dependents']=='Yes']

In [58]:
y_dep_month = telco_df['MonthlyCharges'][telco_df['Dependents']=='Yes']

In [60]:
y_dep_total = telco_df['TotalCharges'][telco_df['Dependents']=='Yes']

In [61]:
r, p = stats.pearsonr(x_depend, y_dep_month)
r, p

(0.27683312413496897, 3.087829757170462e-38)

In [62]:
r, p = stats.pearsonr(x_depend, y_dep_total)
r, p

(0.7717345899465285, 0.0)

In [ ]:
x_dep_mean = telco_df['']

2. Use the employees database
    - Is there a relationship between how long an employee has been with the company and their salary?

In [ ]:
# what table(s) will I need?
#

In [75]:
from env import host, user, password
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [76]:
def get_db_url(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [77]:
url = get_db_url('employees')

In [78]:
sql_query = 'SELECT * FROM employees'

In [79]:
def get_employees_data(db):
    return pd.read_sql(sql_query, get_db_url(db))

In [80]:
emp_df = get_employees_data('employees')

In [81]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [82]:
# now lets get the salaries table

sql_query = 'SELECT * FROM salaries'

In [83]:
salaries_df = get_employees_data('salaries')

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'florence20'@'%' to database 'salaries'")
(Background on this error at: http://sqlalche.me/e/13/e3q8)

 - Is there a relationship between how long an employee has been with the company and their salary?

In [ ]:
# we need to create a new column of 'tenure'
# if current date = 9999, then we first need to convert to today

    - Is there a relationship between how long an employee has been with the company and the number of titles they have had?

3. Use the sleepstudy data. Is there a relationship between days and reaction time?

### Notes from Review...